/* shared style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* main style */
#banner {
    background-image: url("../images/banner/banner3.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
#banner .banner-container{
    max-width: 525px;
    position: relative;
    top: 216px;
    right: 230px;
    bottom: 364px;
    left: 845px;
    text-align: right;
}
#banner .banner-container h1{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 24px;
    color: #FFFFFF;
}
#banner .banner-container p{
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 32px;
    color: #FFFFFF;
}
#banner .banner-container button{
    font-size: 18px;
    color: #005FAC;
    background-color: #FFFFFF;
    padding: 20px 25px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}